---
import Text from "./Text.astro";
const { bg = "bg-yellow-200" } = Astro.props;
const { tag = "tag" } = Astro.props;
const { sponsor1 = "navn" } = Astro.props;
const { sponsor2 = "navn" } = Astro.props;
const { sponsor3 = "navn" } = Astro.props;
const { sponsor4 = "navn" } = Astro.props;
const { sponsor5 = "navn" } = Astro.props;
const { sponsor6 = "navn" } = Astro.props;
const defaultclasses = "carousel mb-section_buttom mt-section_top";
const { time = "10s" } = Astro.props;
---

<!-- ANIMATION: Sponsors slide-in -->
<section
  class:list={[bg, defaultclasses]}
  data-animate-intersect="animate-fade-left animate-once"
>
  <section class="group">
    <div class="flex flex-row carousel_sponsor whitespace-nowrap">
      <Text weight="light" size="small">{sponsor1}</Text>
      <!-- CLS: Diamond dimensions prevent shift -->
      <img
        src="/img/diamond.svg"
        alt=""
        aria-hidden="true"
        width="16"
        height="16"
      />
    </div>

    <Text weight="light" size="small">{tag}</Text>
    <img
      src="/img/diamond.svg"
      alt=""
      aria-hidden="true"
      width="16"
      height="16"
    />

    <div class="flex flex-row carousel_sponsor whitespace-nowrap">
      <Text weight="light" size="small">{sponsor2}</Text>
      <img
        src="/img/diamond.svg"
        alt=""
        aria-hidden="true"
        width="16"
        height="16"
      />
    </div>

    <Text weight="light" size="small">{tag}</Text>
    <img
      src="/img/diamond.svg"
      alt=""
      aria-hidden="true"
      width="16"
      height="16"
    />

    <div class="flex flex-row carousel_sponsor whitespace-nowrap">
      <Text weight="light" size="small">{sponsor3}</Text>
      <img
        src="/img/diamond.svg"
        alt=""
        aria-hidden="true"
        width="16"
        height="16"
      />
    </div>

    <Text weight="light" size="small">{tag}</Text>
    <img
      src="/img/diamond.svg"
      alt=""
      aria-hidden="true"
      width="16"
      height="16"
    />

    <div class="flex flex-row carousel_sponsor whitespace-nowrap">
      <Text weight="light" size="small">{sponsor4}</Text>
      <img
        src="/img/diamond.svg"
        alt=""
        aria-hidden="true"
        width="16"
        height="16"
      />
    </div>

    <Text weight="light" size="small">{tag}</Text>
    <img
      src="/img/diamond.svg"
      alt=""
      aria-hidden="true"
      width="16"
      height="16"
    />

    <div class="flex flex-row carousel_sponsor whitespace-nowrap">
      <Text weight="light" size="small">{sponsor5}</Text>
      <img
        src="/img/diamond.svg"
        alt=""
        aria-hidden="true"
        width="16"
        height="16"
      />
    </div>

    <Text weight="light" size="small">{tag}</Text>
    <img
      src="/img/diamond.svg"
      alt=""
      aria-hidden="true"
      width="16"
      height="16"
    />

    <div class="flex flex-row carousel_sponsor whitespace-nowrap">
      <Text weight="light" size="small">{sponsor6}</Text>
      <img
        src="/img/diamond.svg"
        alt=""
        aria-hidden="true"
        class="lastDiamond"
        width="16"
        height="16"
      />
    </div>
  </section>

  <section class="group">
    <div class="flex flex-row carousel_sponsor whitespace-nowrap">
      <Text weight="light" size="small">{sponsor1}</Text>
      <img
        src="/img/diamond.svg"
        alt=""
        aria-hidden="true"
        width="16"
        height="16"
      />
    </div>

    <Text weight="light" size="small">{tag}</Text>
    <img
      src="/img/diamond.svg"
      alt=""
      aria-hidden="true"
      width="16"
      height="16"
    />

    <div class="flex flex-row carousel_sponsor whitespace-nowrap">
      <Text weight="light" size="small">{sponsor2}</Text>
      <img
        src="/img/diamond.svg"
        alt=""
        aria-hidden="true"
        width="16"
        height="16"
      />
    </div>

    <Text weight="light" size="small">{tag}</Text>
    <img
      src="/img/diamond.svg"
      alt=""
      aria-hidden="true"
      width="16"
      height="16"
    />

    <div class="flex flex-row carousel_sponsor whitespace-nowrap">
      <Text weight="light" size="small">{sponsor3}</Text>
      <img
        src="/img/diamond.svg"
        alt=""
        aria-hidden="true"
        width="16"
        height="16"
      />
    </div>

    <Text weight="light" size="small">{tag}</Text>
    <img
      src="/img/diamond.svg"
      alt=""
      aria-hidden="true"
      width="16"
      height="16"
    />

    <div class="flex flex-row carousel_sponsor whitespace-nowrap">
      <Text weight="light" size="small">{sponsor4}</Text>
      <img
        src="/img/diamond.svg"
        alt=""
        aria-hidden="true"
        width="16"
        height="16"
      />
    </div>

    <Text weight="light" size="small">{tag}</Text>
    <img
      src="/img/diamond.svg"
      alt=""
      aria-hidden="true"
      width="16"
      height="16"
    />

    <div class="flex flex-row carousel_sponsor whitespace-nowrap">
      <Text weight="light" size="small">{sponsor5}</Text>
      <img
        src="/img/diamond.svg"
        alt=""
        aria-hidden="true"
        width="16"
        height="16"
      />
    </div>

    <Text weight="light" size="small">{tag}</Text>
    <img
      src="/img/diamond.svg"
      alt=""
      aria-hidden="true"
      width="16"
      height="16"
    />

    <div class="flex flex-row carousel_sponsor whitespace-nowrap">
      <Text weight="light" size="small">{sponsor6}</Text>
      <img
        src="/img/diamond.svg"
        alt=""
        aria-hidden="true"
        class="lastDiamond"
        width="16"
        height="16"
      />
    </div>
  </section>

  <section class="group">
    <div class="flex flex-row carousel_sponsor whitespace-nowrap">
      <Text weight="light" size="small">{sponsor1}</Text>
      <img
        src="/img/diamond.svg"
        alt=""
        aria-hidden="true"
        width="16"
        height="16"
      />
    </div>

    <div class="flex flex-row carousel_sponsor whitespace-nowrap">
      <Text weight="light" size="small">{sponsor2}</Text>
      <!-- Changed: Made decorative diamond separator accessible with aria-hidden for screen readers -->
      <img src="/img/diamond.svg" alt="" aria-hidden="true" />
    </div>

    <Text weight="light" size="small">{tag}</Text>
    <img
      src="/img/diamond.svg"
      alt=""
      aria-hidden="true"
      width="16"
      height="16"
    />

    <div class="flex flex-row carousel_sponsor whitespace-nowrap">
      <Text weight="light" size="small">{sponsor3}</Text>
      <img
        src="/img/diamond.svg"
        alt=""
        aria-hidden="true"
        width="16"
        height="16"
      />
    </div>

    <Text weight="light" size="small">{tag}</Text>
    <img
      src="/img/diamond.svg"
      alt=""
      aria-hidden="true"
      width="16"
      height="16"
    />

    <div class="flex flex-row carousel_sponsor whitespace-nowrap">
      <Text weight="light" size="small">{sponsor4}</Text>
      <img
        src="/img/diamond.svg"
        alt=""
        aria-hidden="true"
        width="16"
        height="16"
      />
    </div>

    <Text weight="light" size="small">{tag}</Text>
    <img
      src="/img/diamond.svg"
      alt=""
      aria-hidden="true"
      width="16"
      height="16"
    />

    <div class="flex flex-row carousel_sponsor whitespace-nowrap">
      <Text weight="light" size="small">{sponsor5}</Text>
      <img
        src="/img/diamond.svg"
        alt=""
        aria-hidden="true"
        width="16"
        height="16"
      />
    </div>

    <Text weight="light" size="small">{tag}</Text>
    <img
      src="/img/diamond.svg"
      alt=""
      aria-hidden="true"
      width="16"
      height="16"
    />

    <div class="flex flex-row carousel_sponsor whitespace-nowrap">
      <Text weight="light" size="small">{sponsor6}</Text>
      <img
        src="/img/diamond.svg"
        alt=""
        aria-hidden="true"
        class="lastDiamond"
        width="16"
        height="16"
      />
    </div>
  </section>
</section>

<style>
  .carousel {
    display: flex;
    overflow-x: auto;
  }

  .carousel::-webkit-scrollbar {
    display: none;
  }

  .group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 30s infinite linear;
    padding-right: 1em;
  }

  .carousel_sponsor {
    flex: 0 0 5em;
    align-content: center;
    text-align: center;
    gap: 1em;
    padding: 1em;
  }

  .lastDiamond {
    margin-right: 3em;
  }

  @keyframes spin {
    from {
      translate: 0;
    }
    to {
      translate: -100%;
    }
  }
</style>
